 ------
 Generating a style guide report for a multimodule project
 ------
 Kevin Fox
 ------
 2013-02-19
 ------

 ~~    Copyright 2013 Information Control Corporation
 ~~
 ~~ Licensed under the Apache License, Version 2.0 (the "License");
 ~~ you may not use this file except in compliance with the License.
 ~~ You may obtain a copy of the License at
 ~~
 ~~     http://www.apache.org/licenses/LICENSE-2.0
 ~~
 ~~ Unless required by applicable law or agreed to in writing, software
 ~~ distributed under the License is distributed on an "AS IS" BASIS,
 ~~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 ~~ See the License for the specific language governing permissions and
 ~~ limitations under the License.

 ~~ NOTE: For help with the syntax of this file, see:
 ~~ http://maven.apache.org/doxia/references/apt-format.html

Generating a style guide report for a multimodule project

  For a multimodule project, it will generally be desirable to have a single consolidated
  style guide for the entire project, as this will allow developers to find all relevant
  guidance in a single location.  With this need in mind, the StyleGuide plugin provides
  several options for generating a style guide report that covers all modules in a
  multimodule project.
  
* The {{{../modules/styleguide-maven-plugin/aggregate-mojo.html}aggregate}} report

  The StyleGuide plugin provides an 
  {{{../modules/styleguide-maven-plugin/aggregate-mojo.html}aggregate}}
  report that is designed to be used on the top-level parent project of a multimodule 
  build.  It scans all projects in the build for <<<@CodeStyle>>> annotations and 
  aggregates the output into a single report.  The report will run only on the execution
  root of the build.  The configuration needed to run the 
  {{{../modules/styleguide-maven-plugin/aggregate-mojo.html}aggregate}} report is listed
  on the {{{../usage.html#Generating_the_style_guide}Usage}} page.
  
* {{{../modules/styleguide-maven-plugin/collate-mojo.html}collate}} and {{{../modules/styleguide-maven-plugin/report-mojo.html}report}}

  The StyleGuide plugin is designed to give the developer a great deal of flexibility to
  control what content appears in a style guide and how the report is generated in the
  Maven site.  One way in which this flexibility is implemented is through the ability
  to separate the generation of content via annotation scanning from the rendering of the
  Maven report.  The {{{../modules/styleguide-maven-plugin/collate-mojo.html}collate}} build
  goal can be used to generate content that can be rendered into the Maven site by the 
  {{{../modules/styleguide-maven-plugin/report-mojo.html}styleguide:report}} report.
  
  In a multimodule build, the two goals need not be run on the same project.  The 
  {{{../modules/styleguide-maven-plugin/collate-mojo.html}collate}} goal can be configured
  to write its output to an absolute path, rather than a project relative location.  The
  {{{../modules/styleguide-maven-plugin/report-mojo.html}styleguide:report}} report can then
  be rendered from another project taking its input from the same absolute path.  This can
  be useful to create the report as part of a specific project in the build when none of the
  other report options would work.
  
  The {{{../modules/styleguide-maven-plugin/collate-mojo.html}collate}} goal can be added
  to the build using the following configuration.
  
+---
<build>
    ...
    <plugins>
        ...
        <plugin>
            <groupId>${project.groupId}</groupId>
            <artifactId>styleguide-maven-plugin</artifactId>
            <version>${project.version}</version>
            <executions>
                <execution>
                    <id>styleguide-collate</id>
                    <goals>
                        <goal>collate</goal>
                    </goals>
                    <configuration>
                        <buildDirectory>[absolute folder path]</buildDirectory>
                    </configuration>
                </execution> 
            </executions>
        </plugin>
        ...
    </plugins>
    ...
</build>
+---
  
  The following report configuration, on the same or a different project, will render
  a report from the content generated by {{{../modules/styleguide-maven-plugin/collate-mojo.html}collate}}.

+---
<reporting>
    ...
    <plugins>
        ...
        <plugin>
            <groupId>${project.groupId}</groupId>
            <artifactId>styleguide-maven-plugin</artifactId>
            <version>${project.version}</version>
            <configuration>
                <buildDirectory>[absolute folder path]</buildDirectory>
            </configuration>
            <reportSets>
                <reportSet>
                    <id>styleguide</id>
                    <reports>
                        <report>report</report>
                    </reports>
                </reportSet> 
            </reportSets>
        </plugin>
        ...
    </plugins>
    ...
</reporting>
+---

  The scope of the {{{../modules/styleguide-maven-plugin/collate-mojo.html}collate}} goal
  can be set to control which projects within the build will be scanned for <<<@CodeStyle>>>
  annotations.  Setting the {{{../modules/styleguide-maven-plugin/collate-mojo.html#scope}scope}}
  parameter to <<build>> will cause it to scan the entire contents of the build, while a
  setting of <<project>> will limit it to the current project.
  
 